<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: blue;
}
h1 {
    background-color:#00ff00;
}
p {
    background-color:rgb(255, 0, 0);
}
</style>
</head>
<body>
<h1>Hello!</h1>
<p>This is a css Background-color demo</p>
</body>
</html>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms